In [23]:
#List Exercise

#Q1. Create a list of 5 random numbers and print the list. 
Lst = list([44,21,8,86,14])
print("list : ",Lst)

#Q2. Insert 3 new values to the list and print the updated list. 
Lst.append(24)
Lst.append(52)
Lst.append(98)

print("updated list : ",Lst)

#Q3. Try to use a for loop to print each element in the list. 
for i in range(len(Lst)):
    print(Lst[i])

list :  [44, 21, 8, 86, 14]
updated list :  [44, 21, 8, 86, 14, 24, 52, 98]
44
21
8
86
14
24
52
98

In [24]:
#Topic: Dictionary Exercise 

#Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively. 
Dct = {"name":"John","age":25,"address":"New York"}
print("dictionary : ",Dct)

#Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'. 
Dct["phone"]=1234567890
print("updated dictionary : ",Dct)

dictionary :  {'name': 'John', 'age': 25, 'address': 'New York'}
updated dictionary :  {'name': 'John', 'age': 25, 'address': 'New York', 'phone': 1234567890}

In [31]:
#Topic: Set Exercise 

#Q1.Create a set with values 1, 2, 3, 4, and 5.
St={1,2,3,4,5}
print("set elements are : ",St)

#Q2. Add the value 6 to the set created in Q1.
St.add(6)
print("update set elements are : ",St)

#Q3. Remove the value 3 from the set created in Q1. 
St.remove(3)
print("set elements after removing : ",St)

set elements are :  {1, 2, 3, 4, 5}
update set elements are :  {1, 2, 3, 4, 5, 6}
set elements after removing :  {1, 2, 4, 5, 6}

In [34]:
#Topic:Tuple Exercise 

#Q1. Create a tuple with values 1, 2, 3, and 4 
Tp=1,2,3,4
print("Tuple : ",Tp)

#Q2. Print the length of the tuple created in Q1.
print("length of tuple is",len(Tp))

Tuple :  (1, 2, 3, 4)
length of tuple is 4